<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>专利详情-淘权网</title>
</head>
<body>
    {{include "./common/header"}}
    <div class="c-main" id="patent-detail">
        <div class="c-crumbsNav">
            <div class="container">
                <li class="c-crumbsNav-list"><a href="/patent">专利转让</a></li>
                <li>></li>
                <li class="c-crumbsNav-list"><a href="/patent?item_class_id={{patentDetails.item_class_id}}">{{patentDetails.item_class_id|valueIDQueryName patentClassesTree}}</a></li>
                <li>></li>
                <li class="c-crumbsNav-list">{{patentDetails.name}}</li>
            </div>
        </div>
        <div class="c-item-information">
            <div class="container">
                <div class="c-preview-wrap" id="preview-wrap">
                    <ul class="c-preview-bigbox">
                        <li class="c-preview-list c-preview-show">
                            <img src="http://static.taoquanw.com/upload/shop/store/goods/14/2016/14_1479429863_G28_240.png" alt="">
                        </li>
                        <li class="c-preview-list">
                            <img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt="">
                        </li>
                        <li class="c-preview-list">
                            <img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt="">
                        </li>
                        <li class="c-preview-list">
                            <img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt="">
                        </li>
                    </ul>
                    <div class="c-preview-box">
                        <div class="c-preview-arrow">
                            <span></span>
                            <span></span>
                        </div>
                        <ul class="c-preview-thumbnailbox">
                            <li class="c-thumbnailbox-list">
                                <img src="http://static.taoquanw.com/upload/shop/store/goods/14/2016/14_1479429863_G28_240.png" alt="">
                            </li>
                            <li class="c-thumbnailbox-list">
                                <img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt="">
                            </li>
                            <li class="c-thumbnailbox-list">
                                <img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt="">
                            </li>
                            <li class="c-thumbnailbox-list">
                                <img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="c-itemInfo-wrap">

                    <div class="c-itemInfo-top">
                        <h3 id="c-itemInfo-h3">{{patentDetails.name}}</h3>
                        <p class="c-item-price" title="{{patentDetails.price}}">
                            <b>价格：</b>
                            <span class="hot">&yen;{{patentDetails.price}}</span>
                        </p>
                        <p title="{{patentDetails.attributes | valueLabelQuery 'type' patentClasses}}">
                            <b>专利类型：</b>
                            <span>{{patentDetails.attributes | valueLabelQuery 'type' patentClasses}}</span>
                        </p>
                        <p title="{{patentDetails.attributes | valueQuery 'sn'}}">
                            <b>专利(申请)号：</b>
                            <span>{{patentDetails.attributes | valueQuery 'sn'}}</span>
                        </p>
                        <p title="专利转让 >{{patentDetails.item_class_id|valueIDQueryName patentClassesTree}}" >
                            <b>行业分类：</b>
                            <span>专利转让 >{{patentDetails.item_class_id|valueIDQueryName patentClassesTree}}</span>
                        </p>
                        <p title="{{patentDetails.attributes | valueLabelQuery 'status' patentClasses}}">
                            <b>专利状态：</b>
                            <span>{{patentDetails.attributes | valueLabelQuery 'status' patentClasses}}</span>
                        </p>
                        <p title="{{patentDetails.attributes| valueQuery 'deadline'| dateFormat 'YYYY-MM-DD'}}">
                            <b>缴费截止日期：</b>
                            <span>{{patentDetails.attributes| valueQuery 'deadline'| dateFormat 'YYYY-MM-DD'}}</span>
                        </p>
                        {{if patentDetails.keywords}}
                        <p class="c-item-keyword" title="{{patentDetails.keywords| valueQuery '0'}}">
                            <b>关键词：</b>
                            <span>{{patentDetails.keywords| valueQuery "0"}}</span>
                        </p>
                        {{else}}
                        <p class="c-item-keyword" title="{{patentDetails.keywords}}">
                            <b>关键词：</b>
                            <span>{{patentDetails.keywords}}</span>
                        </p>
                        {{/if}}
                    </div>
                    <div class="c-itemInfo-down">
                        <div class="c-itemInfo-title">
                            <h3>购买咨询</h3>
                            <span>（如果点击后无法打开聊天软件，请尝试更换浏览器）</span>
                        </div>
                        <div class="c-itemInfo-content">
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=2853076070&site=qq&menu=yes" target="_blank">
                                <b>QQ：</b>
                                <span class="c-itemInfo-qq">2853076070</span>
                            </a>
                            <a href="http://amos.im.alisoft.com/msg.aw?v=2&uid=上善若水4158&site=cntaobao&s=1&charset=utf-8" target="_blank">
                                <b>旺旺：</b>
                                <span class="c-itemInfo-ww">上善若水4158</span>
                            </a>
                            <a href="javascript:;">
                                <b>电话：</b>
                                <span>12345678901</span>
                            </a> 
                        </div>
                    </div>
                </div>
                <div class="c-extra-wrap">
                    <h3>看了又看</h3>
                    <ul class="c-extra-box">
                    {{each patentBrowsed}}
                        <li class="c-extra-list">
                            <a href="/patent/{{$value.id}}" ><img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt=""></a>
                            <p class="c-extra-price">&yen;{{$value.price}}</p>
                            <a href="/patent/{{$value.id}}" class="c-extra-des">{{$value.name}}</a>
                        </li>
                    {{/each}}
                        <!-- <li class="c-extra-list">
                            <a href="" ><img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt=""></a>
                            <p class="c-extra-price">&yen;1850</p>
                            <a href="" class="c-extra-des">套筒调节的园林道路修边装置及其使用方法</a>
                        </li>
                        <li class="c-extra-list">
                            <a href="" ><img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt=""></a>
                            <p class="c-extra-price">&yen;1850.00</p>
                            <a href="" class="c-extra-des">套筒调节的园林道路修边装置及其使用方法</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="c-item-banners">
            <div class="container">
                <img src="http://static.taoquanw.com/dist/img/slogan-02a9d960c4.png" alt="">
            </div>
        </div>
        <div class="c-item-description">
            <div class="container">
                <div class="c-item-left">
                    <div class="c-item-title">
                        <h3>最新上架</h3>
                    </div>
                    <ul class="c-hot-box">
                    {{each patentNewList}}
                        <li class="c-hot-list">
                            <a href="/patent/{{$value.id}}" >
                                <img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt="">
                            </a>
                            <a href="/patent/{{$value.id}}" class="c-hot-des">{{$value.name}}</a>
                            <p class="c-hot-price">&yen;{{$value.price}}</p>
                        </li>
                    {{/each}}
                        <!-- <li class="c-hot-list">
                            <a href="" ><img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt=""></a>
                            <a href="" class="c-hot-des">套筒调节的园林道路修边装置及其使用方法</a>
                            <p class="c-hot-price">&yen;1850.00</p>
                        </li>
                        <li class="c-hot-list">
                            <a href="" ><img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt=""></a>
                            <a href="" class="c-hot-des">套筒调节的园林道路修边装置及其使用方法</a>
                            <p class="c-hot-price">&yen;1850.00</p>
                        </li>
                        <li class="c-hot-list">
                            <a href="" ><img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt=""></a>
                            <a href="" class="c-hot-des">套筒调节的园林道路修边装置及其使用方法</a>
                            <p class="c-hot-price">&yen;1850.00</p>
                        </li> -->
                    </ul>
                </div>
                <div class="c-item-right" id="item-right">
                    <div class="c-item-submenu">
                        <a href="#item-introduce" class="active">商品介绍</a>
                        <a href="#item-process">转让流程</a>
                        <a href="#item-information">过户资料</a>
                    </div>
                    <div class="c-item-contentList c-item-introduce" id="item-introduce">
                        <div class="c-item-content">
                            <ul class="c-item-box">
                                <li class="c-item-item" title="{{patentDetails.price}}">
                                    价格：{{patentDetails.price}} 
                                </li>
                                <li class="c-item-item" title="{{patentDetails.attributes | valueLabelQuery 'type' patentClasses}}">
                                    专利类型：{{patentDetails.attributes | valueLabelQuery 'type' patentClasses}}
                                </li>
                                <li class="c-item-item" title="{{patentDetails.attributes | valueQuery 'sn'}}">
                                    专利(申请)号：{{patentDetails.attributes | valueQuery 'sn'}}
                                </li>
                                <li class="c-item-item" title="专利转让 >{{patentDetails.item_class_id|valueIDQueryName patentClassesTree}}">
                                    行业分类：专利转让 >{{patentDetails.item_class_id|valueIDQueryName patentClassesTree}}
                                </li>
                                <li class="c-item-item" title="{{patentDetails.attributes | valueLabelQuery 'status' patentClasses}}">
                                    专利状态：{{patentDetails.attributes | valueLabelQuery 'status' patentClasses}}
                                </li>
                                <li class="c-item-item" title="{{patentDetails.attributes| valueQuery 'deadline'| dateFormat 'YYYY-MM-DD'}}">
                                    缴费截止日期：{{patentDetails.attributes| valueQuery 'deadline'| dateFormat 'YYYY-MM-DD'}}
                                </li>
                                {{if patentDetails.keywords}}
                                    <li class="c-item-item" title="{{patentDetails.keywords| valueQuery '0'}}">
                                        关键词：{{patentDetails.keywords| valueQuery "0"}}
                                    </li>
                                    {{else}}
                                    <li class="c-item-item" title="{{patentDetails.keywords}}">
                                        关键词：{{patentDetails.keywords}}
                                    </li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                    <div class="c-item-contentList c-item-process" id="item-process">
                        <div class="c-item-title">
                            <h3>转让流程</h3>
                        </div>
                        <div class="c-item-content">
                            <p>买家选专利>>下单付款>>平台办理官方过户手续>>支付卖方交易款>>完成</p>
                        </div>
                    </div>
                    <div class="c-item-contentList c-item-information" id="item-information">
                        <div class="c-item-title">
                            <h3>过户资料</h3>
                        </div>
                        <div class="c-item-content">
                            <p>买家选专利>>下单付款>>平台办理官方过户手续>>支付卖方交易款>>完成</p>
                        </div>
                    </div>
                    <div class="c-item-recommend">
                        <div class="c-item-title">
                            <h3>推荐商品</h3>
                        </div>
                        <div class="c-item-content">
                            <ul class="c-hot-box">
                                {{each patentHotList}}
                                    <li class="c-hot-list">
                                        <a href="/patent/{{$value.id}}" >
                                            <img src="{{$value.images?$value.images[0]:'http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png'}}" alt="">
                                        </a>
                                        <a href="/patent/{{$value.id}}" class="c-hot-des">{{$value.name}}</a>
                                        <p class="c-hot-price">&yen;{{$value.price}}</p>
                                    </li>
                                {{/each}}
                                <!-- <li class="c-hot-list">
                                    <a href="" ><img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt=""></a>
                                    <a href="" class="c-hot-des">套筒调节的园林道路修边装置及其使用方法</a>
                                    <p class="c-hot-price">&yen;1850.00</p>
                                </li>
                                <li class="c-hot-list">
                                    <a href="" ><img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt=""></a>
                                    <a href="" class="c-hot-des">套筒调节的园林道路修边装置及其使用方法</a>
                                    <p class="c-hot-price">&yen;1850.00</p>
                                </li>
                                <li class="c-hot-list">
                                    <a href="" ><img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt=""></a>
                                    <a href="" class="c-hot-des">套筒调节的园林道路修边装置及其使用方法</a>
                                    <p class="c-hot-price">&yen;1850.00</p>
                                </li>
                                <li class="c-hot-list">
                                    <a href="" ><img src="http://static.taoquanw.com/upload/shop/common/05337302323403315_360.png" alt=""></a>
                                    <a href="" class="c-hot-des">套筒调节的园林道路修边装置及其使用方法</a>
                                    <p class="c-hot-price">&yen;1850.00</p>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <tq-gotop></tq-gotop>
    </div>
    {{include "./common/footer"}}
</body>
</html>