.idea/
config/*-local.js

logs/

mock/db.json
mock/route/*-local.js

node_modules/

public/
site/public/
mobile/public/
admin/public/
member/public/
patent/public/

npm-debug.log

site/asset/image/
site/asset/font/
mobile/asset/font/
mobile/asset/image/
admin/asset/image/
admin/asset/font/
member/asset/image/
member/asset/font/
patent/asset/image/
patent/asset/font/