<div class="c-top">
    <div class="container">
        <div class="row">
            <div class="c-site-link">
                <a href="/" class="c-current">淘权首页</a>
                <a href="#">帮助中心</a>
                <a href="#">联系客服</a>
                <a href="#">网站导航</a>
            </div>
            <div class="col-lg-6 c-user-link">
                <a href="#">登录</a>
                <a href="#" class="register">注册</a>
                <a href="#">手机淘权</a>
            </div>
        </div>
    </div>
</div>
<div class="c-header" id="c-header">
    <div class="container">
        <div class="c-nav">
            <div class="c-logo">
                <a href="/">&nbsp;</a>
                <span>靠谱的知产交易平台</span>
            </div>
            <div class="c-link">
                <a href="/" class="c-current">淘权首页</a>
                <a href="/patent">专利转让</a>
                <a href="/trademark">商标转让</a>
                <a href="/article">行业资讯</a>
            </div>
        </div>
    </div>
</div>